@page "/weather"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject WeatherApiClient WeatherApi

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>IASyncEnumerable for all: </p>
<a href="https://learn.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-10.0?view=aspnetcore-10.0#httpclient-response-streaming-enabled-by-default
" target="_blank">
    https://learn.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-10.0?view=aspnetcore-10.0#httpclient-response-streaming-enabled-by-default
</a>
<br />
<button class="btn btn-primary" @onclick="async ()=> await LoadData()">Load Data</button>

@if (forecasts == null)
{
    <p><em>No forecasts saved</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @{ int nr  =1;}
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@(nr++)</td>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [PersistentState]
    public WeatherForecast[]? forecasts { get; set; }

    //protected override async Task OnInitializedAsync()
    protected async Task LoadData()
    {
        Console.WriteLine("LoadData called");
        forecasts = [];
        StateHasChanged();
        await Task.Delay(1000); // Simulate delay before streaming starts
        await foreach(var forecast in WeatherApi.GetWeatherAsync())
        {
            forecasts ??= Array.Empty<WeatherForecast>();
            forecasts = forecasts.Append(forecast).ToArray();
            StateHasChanged();
        };
    }
}
